.text-color{
    color: aquamarine;
}

.parent{
    display: flex;
    justify-content: center;
}

button{
    background-color: aquamarine;
    border: none;
    box-shadow: 5px;
    font-size: 50px;
    border-radius: 10px;
    height: 58px;
    margin: 10px;
    cursor: pointer;
}

.value{
    font-size: 50px;
    margin: 5px;
    margin-top: 10px;
}